In [1]:
from time import sleep
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
zonas = ['sul', 'norte', 'leste', 'oeste']
paginas = ['', '_Desde_49', '_Desde_97', '_Desde_145', '_Desde_193', '_Desde_241']

In [3]:
def coleta_dados(url, zona):
  # acessar a url, coletar as informacoes e ir salvando nas listas e depois juntar as listas em uma tabela
  res = requests.get(url).content
  sopa = BeautifulSoup(res)
  
  rs_precos = sopa.find_all('span', {'class': 'price-tag-fraction'})
  rs_areas_quartos = sopa.find_all('ul', {'class': 'ui-search-card-attributes ui-search-item__group__element'})

  lista_precos = []
  lista_areas_quartos = []
  lista_zonas = []
    
  for preco, area_quarto in zip(rs_precos, rs_areas_quartos):
    lista_precos.append(preco.text)
    lista_areas_quartos.append(area_quarto.text)
    lista_zonas.append(zona)
    
  dados = {'aluguel': lista_precos,
  'area_quarto': lista_areas_quartos,
  'zona': lista_zonas}
    
  df = pd.DataFrame(dados)

  return df

In [4]:
lista_dfs = []

for zona in zonas:
  # print('Zona:', zona)
  for pagina in paginas:
    # print('Pagina:', pagina)
    url = f'https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-{zona}/{pagina}'
    print('Coletando dados de', url)
    df = coleta_dados(url, zona) # retorna o df 
    lista_dfs.append(df)
    sleep(2)

Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_241

In [5]:
df_ml = pd.concat(lista_dfs, axis=0)

In [6]:
df_ml.head()

  aluguel                  area_quarto zona
0  21.000  265 m² construídos3 quartos  sul
1   2.000    45 m² construídos1 quarto  sul
2   1.499    45 m² construídos1 quarto  sul
3   4.500  112 m² construídos3 quartos  sul
4   4.500  125 m² construídos3 quartos  sul

In [7]:
df_ml.shape

(1132, 3)

In [8]:
type(df_ml['aluguel'])

pandas.core.series.Series

In [9]:
type(df_ml['aluguel'].values)

numpy.ndarray

In [10]:
type(df_ml['aluguel'].values[0])

str

In [15]:
df_ml.to_csv('../coleta_de_dados/dados_mercado_livre.csv', index=False)

In [16]:
pd.read_csv('dados_mercado_livre.csv', thousands='.')

      aluguel                  area_quarto   zona
0       21000  265 m² construídos3 quartos    sul
1        2000    45 m² construídos1 quarto    sul
2        1499    45 m² construídos1 quarto    sul
3        4500  112 m² construídos3 quartos    sul
4        4500  125 m² construídos3 quartos    sul
...       ...                          ...    ...
1127     1500    40 m² construídos1 quarto  oeste
1128     9300  186 m² construídos3 quartos  oeste
1129     2000   70 m² construídos2 quartos  oeste
1130     1600   50 m² construídos2 quartos  oeste
1131     1400    50 m² construídos1 quarto  oeste

[1132 rows x 3 columns]